{% extends "sorsore/pages/web_page_notitle.html" %}
{% load wagtailcore_tags themes_tags %}
{% load static %}



{% block content_pre_body %}
{% Indexes %}
{% endblock %}

{% block scripts %}
    <!-- jquery -->
    <script src = "{% static "themes/theme1/js/jquery-3.6.0.js" %}"></script>
    <!-- isotope js -->
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
    <!-- bootstrap js -->
    <script src = "{% static "themes/theme1/bootstrap-5.0.2-dist/js/bootstrap.min.js" %}"></script>
    <!-- custom js -->
    <script src = "{% static "themes/theme1/js/script.js" %}"></script>
{% endblock scripts %}