{% load wagtailcore_tags %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- bootstrap css -->
    <link rel = "stylesheet" href = "{% static "themes/theme1/bootstrap-5.0.2-dist/css/bootstrap.min.css" %}">
    <!-- custom css -->
    <link rel = "stylesheet" href = "{% static "themes/theme1/css/main.css" %}">
{% endblock stylesheets %}


{% for f in foter %}
    <footer class = "bg-dark py-5">
        <div class = "container">
            <div class = "row text-white g-4">
                {% for block in f.body %}
                    <div class = "col-md-6 col-lg-3">
                        {% if block.block_type == "paragraph" %}
                            <a class = "text-uppercase text-decoration-none brand text-white" href = "/">{{block.value.title}}</a>
                            <p class = "text-white text-muted mt-3">{{block.value.text}}</p>
                        {% elif block.block_type == "link_list" %}
                            <h5 class = "fw-light">{{block.value.title}}</h5>
                            <ul class = "list-unstyled">
                                {% for item in block.value.links %}
                                    {% include_block item with liclass="my-3" aclass="text-uppercase text-decoration-none brand text-white" %}
                                {% endfor %}
                            </ul>
                        {% elif block.block_type == "text_list" %}
                            <h5 class = "fw-light mb-3">{{block.value.title}}</h5>
                            {% for item in block.value.texts %}
                                {% include_block item %}
                            {% endfor %}
                        {% else %}
                            <h5 class = "fw-light mb-3">{{block.value.title}}</h5>
                            <div>
                                <ul class = "list-unstyled d-flex">
                                    {% for item in block.value.icons %}
                                        {% include_block item %}
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </footer>
{% endfor %}

            

{% block scripts %}
    <!-- jquery -->
    {% comment %} <script src = "{% static "themes/js/jquery-3.6.0.js" %}"></script> {% endcomment %}
    <!-- isotope js -->
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
    <!-- bootstrap js -->
    <script src = "{% static "themes/theme1/bootstrap-5.0.2-dist/js/bootstrap.min.js" %}"></script>
    <!-- custom js -->
    <script src = "{% static "themes/theme1/js/script.js" %}"></script>
{% endblock scripts %}


{% comment %} <footer class = "bg-dark py-5">
    <div class = "container">
        <div class = "row text-white g-4">
            <div class = "col-md-6 col-lg-3">
                <a class = "text-uppercase text-decoration-none brand text-white" href = "index.html">Attire</a>
                <p class = "text-white text-muted mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum mollitia quisquam veniam odit cupiditate, ullam aut voluptas velit dolor ipsam?</p>
            </div>

            <div class = "col-md-6 col-lg-3">
                <h5 class = "fw-light">Links</h5>
                <ul class = "list-unstyled">
                    <li class = "my-3">
                        <a href = "#" class = "text-white text-decoration-none text-muted">
                            <i class = "fas fa-chevron-right me-1"></i> Home
                        </a>
                    </li>
                    <li class = "my-3">
                        <a href = "#" class = "text-white text-decoration-none text-muted">
                            <i class = "fas fa-chevron-right me-1"></i> Collection
                        </a>
                    </li>
                    <li class = "my-3">
                        <a href = "#" class = "text-white text-decoration-none text-muted">
                            <i class = "fas fa-chevron-right me-1"></i> Blogs
                        </a>
                    </li>
                    <li class = "my-3">
                        <a href = "#" class = "text-white text-decoration-none text-muted">
                            <i class = "fas fa-chevron-right me-1"></i> About Us
                        </a>
                    </li>
                </ul>
            </div>

            <div class = "col-md-6 col-lg-3">
                <h5 class = "fw-light mb-3">Contact Us</h5>
                <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                    <span class = "me-3">
                        <i class = "fas fa-map-marked-alt"></i>
                    </span>
                    <span class = "fw-light">
                        Albert Street, New York, AS 756, United States of America
                    </span>
                </div>
                <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                    <span class = "me-3">
                        <i class = "fas fa-envelope"></i>
                    </span>
                    <span class = "fw-light">
                        attire.support@gmail.com
                    </span>
                </div>
                <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                    <span class = "me-3">
                        <i class = "fas fa-phone-alt"></i>
                    </span>
                    <span class = "fw-light">
                        +9786 6776 236
                    </span>
                </div>
            </div>

            <div class = "col-md-6 col-lg-3">
                <h5 class = "fw-light mb-3">Follow Us</h5>
                <div>
                    <ul class = "list-unstyled d-flex">
                        <li>
                            <a href = "#" class = "text-white text-decoration-none text-muted fs-4 me-4">
                                <i class = "fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href = "#" class = "text-white text-decoration-none text-muted fs-4 me-4">
                                <i class = "fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href = "#" class = "text-white text-decoration-none text-muted fs-4 me-4">
                                <i class = "fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href = "#" class = "text-white text-decoration-none text-muted fs-4 me-4">
                                <i class = "fab fa-pinterest"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer> {% endcomment %}