///
/// Wagtail CRX Sass starter template
///
/// Import scss sources from the sorsore pip package,
/// or from your own local directory as needed.
///

// Use custom variables.
@import "variables";

// Import Bootstrap. Alternatively, change this to import individual components
// of Bootstrap as needed.
@import "sorsore/vendor/bootstrap/scss/bootstrap";

// Wagtail CRX tweaks. You'll probably want to disable some of these and use
// your own styles instead.
@import "sorsore/scss/crx-article";
@import "sorsore/scss/crx-bs-overrides";
@import "sorsore/scss/crx-gallery";
@import "sorsore/scss/crx-hero";
@import "sorsore/scss/crx-location";
@import "sorsore/scss/crx-navbar";
@import "sorsore/scss/crx-pricelist";
@import "sorsore/scss/crx-richtext";

// Add your custom styles here.

// Adds a bit of spacing to "Responsive Grid Row" blocks.
.crx-grid {
  padding-top: 40px;
  padding-bottom: 40px;
}
.crx-grid .crx-grid {
  padding-top: 0;
  padding-bottom: 0;
}
